// Colors
// $dark-color: #3a362d;
// $light-dark-color: #988666;
// $primary-color: #e2a53d;
// $primary-light-color: #efc779;
// $light-color: #f6ebcb;

$dark-color: #101313;
$light-dark-color: #252d2d;
$primary-color: #7fa0a0;
$primary-light-color: #efc779;
$light-color: #f6ebcb;